body{
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color:#7976b5;
    line-height: 1.5;
}
#parent_contaner{
    position: relative;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#upload_btn_container{
    display: flex;
    align-items: center;
}
#upload_btn{
    text-align: center;
    text-decoration: none;
    font-size: medium;  
    box-sizing: 100px;
    width: 100px;
    height: 30px;
    color: #ffff;
    
    background-color:#a5a9d4;
    border: 2px solid #d8dced;
    box-shadow: 1px 1px #b2b2b2;
}
.header_bar{
    position: sticky;
    top: 0;
    margin-top: 0;
    width: 100%;
    align-items: center;
    background:linear-gradient(90deg,#ffccdd,#d9b3ff,#b3e6ff);
    box-shadow: 15px 2px 5px #aaaaf7;
}
#header_text{
    color: #052304;
    padding-left: 10px;
}
#head_text{
    color:#ffff;
    font-size: 70px;
    font-family: cursive;
    height: 70px;
    width: 500px;
    margin-left: 20%;
}
#description_p{
    color:#ffff;
    margin-left: 20%;
}
img{
    width: 80px;
    height: 80px;
}
#main_container{
    background-color: aliceblue;
    width: 85%;
    height: 700px;
    border-radius: 40px;
    justify-self: center;
}