body{
    background-color: #7976b5;
}
#form_container{
    margin: 10%;
    background-color: #c4c6da;;
    border-radius: 30px;
    justify-content: center;
}
.step-indicators{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
}
.step {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background: #e4e2e6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.step.active{
    color: azure;
    background: rgb(67, 23, 117);
}
.form_step{
    display: none;
}
.form_step.active{
    display: block;
}
#form_head{
    text-align: center;
    font-size: 30px;
    color: #12003e;
    padding-top: 20px;
}
#form_body{
    background-color: rgb(244, 240, 255);
    font-size: larger;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
table{
    width: 100%;
    font-size: larger;
}
.nav_btn{
  background: rgb(67, 23, 117);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 20%;
  height: 40px;
  font-weight: bold;
  font-size: large;
}
.next_btn{
    margin-right: 10%;
    justify-self: right;
}
.form_step{
    padding-left: 10%;
    padding-bottom: 10%;
}
.form-input{
    width: 85%;
    height: 30px;
    padding: 5px;
    border-top: 0cm;
    border-left: 0cm;
    border-right: 0cm;
    border-bottom: 2px solid #12003e;
    background: none;
}
.form-headdings{
    color: #12003e;
    justify-self: center;
}