body{
    background-color: #052304;;
}
#form_container{
    margin: 10%;
    background-color: #c8eac7;;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
}
.step-indicators{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
}
.step {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background: #e4e2e6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.step.active{
    color: azure;
    background: rgb(67, 23, 117);
}
.form_step{
    display: none;
}
.form_step.active{
    display: block;
}
#form_body{
    background-color: rgb(240, 255, 241);
}
table{
    width: 100%;
    font-size: larger;
}
.nav_btn{
  background: rgb(67, 23, 117);
  color: white;
  border: none;
  cursor: pointer;
  width: 30%;
  height: 100%;
  font-weight: bold;
  font-size: medium;
}