<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artinsta</title>



    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="images/faviconImage.png" sizes="16*16" type="image/png">
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
  
</head>
<body>
        <a href="/upload" id="upload_btn">Upload</a>
        <a href="/feed" id="gallery_btn" style="margin-left:15px;">View Gallery</a>

    <nav class="header_bar"> 
        <div id="header_text">
            <div id="logo_container">
                <img src="images/faviconImage.png" alt="Artinsta Logo" class="logo">
            </div>
            <div>Artinsta</div>
        </div>
    </nav>
    <div id="parent_container">
        <div id="container">
            <div id="head_text_container">
                <h1 id="head_text">Artinsta</h1>
                <p id="description_p">Artinsta is a platform where you can showcase your artistic talents.
                    Whether you're a painter, photographer, or digital artist, Artinsta is the perfect place to 
                    share your work and gain inspiration.
                </p>
                <a id="upload_btn" href="upload.html"><span id="upload_icon"></span> Upload</a>
            </div>
            <div id="head_painting_container">
                <img src="images/swan_painting.jpg" alt="Artistic Painting" id="head_painting">
            </div>
        </div>
        <div id="main_container">
            <div class="feed-container">
                <% newArtist.forEach(item => { %>
                    <div class="feed-card">

                        <img src="/uploads/<%= item.artwork_image_file %>" alt="Artwork Image" class="feed-image">

                        <div class="feed-details">
                            <h3><%= item.Artwork_Title %></h3>
                            <p><strong>By: </strong><%= item.Artist_Name %></p>
                            <p><%= item.Description_art %></p>
                        </div>

                    </div>
                <% }); %>

            </div>

        </div>
    </div>

    
  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 900, // Animation speed
    easing: 'ease-in-out',
    once: false // Animate only once
  });
</script>
  
</body>
</html>